<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-encrypt-and-decrypt"
  version="1.0.0">

  <name>Encryption_and_Decryption</name>
  <description>Encrypt messages and Decrypt messages.</description>
  <author>cigalecigales</author>
  <keywords>encrypt, decrypt</keywords>
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <js-module src="www/encryption_and_decryption.js" name="en_de">
    <clobbers target="en_de"/>
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="encryption_and_decryption">
        <param name="android-package" value="plugin.en.de.EncryptionAndDecryption"/>
      </feature>
    </config-file>
    <source-file src="src/android/EncryptionAndDecryption.java" target-dir="src/plugin/en/de/"/>
    <source-file src="src/android/EncryptionAndDescriptionUtil.java" target-dir="src/plugin/en/de/"/>
  </platform>
</plugin>
